.App {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  background: #5efc8d;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #52489c;
  border: none;
  color: #fff;
  padding: 10px 20px;
}

.recipes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
